/* tags */
* {-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body {
  color: #23212D;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
b, strong {
  font-weight: 600;
}
button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
}
footer {
  text-align: center;
  background: #caba9f;
  padding: 20px 0;
}
aside {
  border-top: 1px solid #eee;
}
/* flex */
.flex {
  display: flex;
}
.align_vc {
  align-items: center;
}
.align_hc {
  justify-content: center;
}
.space_between {
  justify-content: space-between;
}
/* padding */
.offset {
  margin: 25px 0;
}
.offset_top {
  margin-top: 25px;
}
section {
  padding-top: 45px;
}
.offet_section {
  padding-bottom: 45px;
}
/* title */
h1, h2 {
  margin: 0;
  font-weight: 600;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 16px;
}
/* a */
a {
  color: #2d2d2d;
  text-decoration: none;
  position: relative;
}
.regular_button {
  padding: 12px 22px;
  background: #caba9f;
  border: 0;
  border-radius: 25px;
  font-weight: 700;
  width: 200px;
  text-align: center;
  display: block;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.regular_button:hover {
  background: #23212d;
  color: #fff;
}
.white_button {
  background: #fff;
  font-size: 16px;
}
.it_cart {
  padding: 20px;
}
.it_nav {
  padding: 30px;
}
.it_nav_line {
  position: relative;
  left: -10px;
}
.it_nav_line::before, .it_nav_line::after {
  content: "";
  width: 20px;
  height: 1px;
  display: block;
  background: #fff;
  position: absolute;
  transition: all 0.3s;
}
.it_nav_line::before {
  top: -4px;
}
.it_nav_line::after {
  top: 4px;
}
.it_nav.open .it_nav_line::before {
  top: 0px;
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}
.it_nav.open .it_nav_line::after {
  top: 0px;
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
}
.it_nav_panel {
  opacity: 0;
  visibility: hidden;
  background: #23212D;
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute;
  left: 0;
  top: 60px;
  transition: all 0.3s;
}
.it_nav.open + .it_nav_panel {
  opacity: 1;
  visibility: visible;
}
.search {
  height: 50px;
  background: #CABA9F;
  padding: 0 20px;
}
.search input {
  width: 100%;
  height: 25px;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #23212D;
  font-size: 14px;
}
::-webkit-input-placeholder {
  color: #212121;
}
:-ms-input-placeholder {
  color: #212121;
}
::-moz-placeholder {
  color: #212121;
  opacity: 1;
}
:-moz-placeholder {
  color: #212121;
  opacity: 1;
}
.search button {
  background: transparent;
  border: 0;
}
.panel_content {
  padding: 0 20px;
  color: #f9f9f9;
}
.panel_content a {
  color: #f9f9f9;
}
.panel_content h4 {
  font-size: 18px;
  margin: 0;
}
.panel_contact {
  position: absolute;
  bottom: 60px;
}
.smart_menu {
  margin-top: 20px;
}
.smart_menu li a {
  font-size: 16px;
}
.header_nav {
  background: #23212d;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.header_nbook {
  display: none;
}
main {
  margin-top: 60px;
}
/* product */
.product_price {
  font-weight: 700;
}
.product_name {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 10px;
}
.little_price {
  font-size: 13px;
}
.product_img {
  height: 56vw;
}
.product_img img {
  height: 100%;
  width: auto;
}
/* columns */
.columns {
  flex-wrap: wrap;
}
.two_forall {
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}
.two_forall:nth-child(2n) {
  margin-right: 0;
}
.two_four {
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 30px;
}
.two_four:nth-child(2n) {
  margin-right: 0;
}
.two_four:nth-last-child(2), .two_four:last-child {
  margin-bottom: 0;
}
.card_item.two_four:last-child {
  display: none;
}
.onetwo {
  width: 100%;
}
.footer_columns .onetwo:last-child {
  display: none;
}
/* general */
.wrapper {
  width: 100%;
  padding: 0 5%;
}
.home {
  height: auto;
  background: #caba9f;
  background-repeat: no-repeat;
  background-image: url(../img/bg.jpg);
  background-position: 0 0;
  background-size: cover;
  padding: 75px 0;
}
.home h1 {
  font-size: 34px;
  line-height: 1;
}
.home p {
  font-size: 16px;
  line-height: 1.2;
}
.transition {
  transition: all 0.3s;
}
.responsive {
  width: 100%;
}
.hidden {
  overflow: hidden;
}
.over_image {
  overflow: hidden;
  border-radius: 6px;
}
.content {
  padding: 0;
}
.content header {
  background: #caba9f;
  padding: 25px 0;
}
.content article {
  padding: 35px 10%;
}
.gray {
  background: #f9f9f9;
}
.black, .box.black {
  background: #23212d;
}
.pattern {
  padding-bottom: 45px;
  background-size: 70px auto;
  background-image: url(../img/pattern_test.svg);
}
.box {
  padding: 25px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.box.black {
  color: #f5f5f5;
}
.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}
.purpose_item {
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  display: block;
  background: #caba9f;
  border-radius: 6px;
}
.gallery_item {
  min-width: calc(50% - 20px);
  margin-right: 10px;
}
.purpose_image, .gallery_image {
  height: 38vw;
}
.copyright, .qdar {
  font-size: 12px;
}
.breadcrums ul li {
  margin-right: 20px;
  position: relative;
  font-size: 14px;
}
.breadcrums ul li::after {
  content: '/';
  display: block;
  position: absolute;
  right: -12px;
  top: 0;
}
.breadcrums ul li:last-child::after {
  content: '';
}
.social li {
  margin-right: 20px;
}
.transform {
  transform: translateY(0px);
  transition: all 0.6s;
}
.transform:hover {
  transform: translateY(-10px);
  transition: all 0.6s;
}
@media (min-width: 600px) {
  .home p {
    font-size: 18px;
  }
  .two_forall {
    width: calc(33% - 10px);
  }
  .two_forall:nth-child(2n) {
    margin-right: 10px;
  }
  .two_forall:nth-child(3n) {
    margin-right: 0;
  }
  .purpose_image, .gallery_image {
    height: 26vw;
  }
  .two_four {
    width: calc(33% - 10px);
  }
  .two_four:nth-child(2n) {
    margin-right: 10px;
  }
  .two_four:nth-child(3n) {
    margin-right: 0;
  }
  .product_img {
    height: 36vw;
  }
  .card_item.two_four:nth-child(4) {
    display: none;
  }
  .gallery_item {
    min-width: calc(33% - 20px);
  }
  .panel_content, .search {
    padding: 0 40px;
  }
  .onetwo {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  .footer_columns .onetwo:last-child {
    display: block;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  .header_smart {
    display: none;
  }
  .header_nbook {
    display: flex;
  }
  .main_nav {
    width: 100%;
  }
  .menu li {
    margin-left: 20px;
  }
  .menu li a {
    color: #f5f5f5;
    font-size: 15px;
  }
  .menu li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background: #caba9f;
  }
  .menu li a:hover::after {
    width: 100%;
    transition: all 0.2s;
  }
  .shop_icon li {
    margin-left: 20px;
  }
  .hide_item {
    display: none;
  }
  .home h1 {
    font-size: 38px;
  }
  .two_forall {
    width: calc(16.6% - 10px);
  }
  .two_forall:nth-child(3n) {
    margin-right: 10px;
  }
  .purpose_image {
    height: 140px;
  }
  .gallery {
    flex-wrap: wrap;
  }
  .gallery_image {
    height: 200px;
  }
  .gallery_item {
    min-width: calc(25.5% - 20px);
    width: calc(25.5% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .gallery_item:nth-child(4n) {
    margin-right: 0;
  }
  .two_four {
    width: calc(25% - 10px);
  }
  .two_four:nth-child(3n) {
    margin-right: 10px;
  }
  .product_img {
    height: 275px;
  }
  .card_item.two_four:last-child, .card_item.two_four:nth-child(4) {
    display: block; 
  }
  .purpose_item {
    font-size: 14px;
  }
  h2 {
    font-size: 24px;
  }
  .product_name {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .two_four:nth-last-child(2), .two_four:last-child {
    margin-bottom: 30px;
  }
  .box {
    padding: 35px;
  }
  .scroll {
    overflow-x: hidden;
  }
}
@media (min-width: 1280px) {
  .home {
    padding: 120px 0;
  }
  .home h1 {
    font-size: 46px;
  }
  .home p {
    font-size: 24px;
  }
  .purpose_image {
    height: 170px;
  }
  .gallery_image {
    height: 250px;
  }
  .new_products .two_four {
    width: calc(20% - 10px);
  }
  .gallery_item {
    min-width: calc(25.333% - 20px);
    width: calc(25.333% - 20px);
  }
  h2 {
    font-size: 26px;
  }
  .little_price {
    font-size: 15px;
  }
  .content article {
    margin: 0 auto;
    width: 800px;
    padding: 55px 0;
  }
  .hide_item {
    display: block;
  }
  section {
    padding-top: 75px;
  }
  .offet_section, .pattern {
    padding-bottom: 75px;
  }
  .offset_top {
    margin-top: 35px;
  }
  .menu {
    margin-left: 25px;
  }
}
@media (min-width: 1440px) {
  .home {
    padding: 155px 0;
  }
}
@media (min-width: 1980px) {
  .wrapper {
    width: 1600px;
    margin: 0 auto;
    padding: 0;
  }
  .product_img {
    height: 360px;
  }
  .gallery_image {
    height: 350px;
  }
  .gallery_item {
    min-width: calc(25.3% - 20px);
    width: calc(25.3% - 20px);
  }
  .product_name {
    font-size: 16px;
  }
  .little_price {
    font-size: 18px;
  }
  .purpose_image {
    height: 240px;
  }
}