/* tags */
* {-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body {
  color: #23212D;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
b, strong {
  font-weight: 600;
}
button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
}
footer {
  text-align: center;
  background: #ede5e3;
  padding-bottom: 35px;
  padding-top: 35px;
  margin-top: 55px;
}
article {
  padding: 0 10%;
}
aside {
  border-top: 1px solid #eee;
}
/* flex */
.flex {
  display: flex;
}
.align_vc {
  align-items: center;
}
.align_hc {
  justify-content: center;
}
.space_between {
  justify-content: space-between;
}
/* padding */
.offset {
  padding-top: 85px;
  padding-bottom: 35px;
  margin-bottom: 55px;
}
.offset.offset_bg {
  padding-bottom: 0px;
}
.offset.offset_product {
  padding-top: 35px;
}
.offset_content {
  margin: 35px 0;
}
/* title */
h1, h2 {
  margin: 0;
  font-weight: 600;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
.title {
  background: #ede5e3;
}
/* a */
a {
  color: #2d2d2d;
  text-decoration: none;
  position: relative;
}
.it_cart {
  padding: 20px;
}
.it_nav {
  padding: 30px;
}
.it_nav_line {
  position: relative;
  left: -10px;
}
.it_nav_line::before, .it_nav_line::after {
  content: "";
  width: 20px;
  height: 1px;
  display: block;
  background: #fff;
  position: absolute;
  transition: all 0.3s;
}
.it_nav_line::before {
  top: -4px;
}
.it_nav_line::after {
  top: 4px;
}
.it_nav.open .it_nav_line::before {
  top: 0px;
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}
.it_nav.open .it_nav_line::after {
  top: 0px;
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
}
.it_nav_panel {
  opacity: 0;
  visibility: hidden;
  background: #23212D;
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  left: 0;
  top: 60px;
  transition: all 0.3s;
}
.it_nav.open + .it_nav_panel {
  opacity: 1;
  visibility: visible;
}
.it_nav_panel h4 {
  color: #fff;
  margin: 0;
  padding: 0 20px;
}
.search {
  height: 50px;
  background: #CABA9F;
  padding: 0 20px;
}
.search input {
  width: 100%;
  height: 25px;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #23212D;
}
.search button {
  background: transparent;
  border: 0;
}
.smart_menu {
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.smart_menu a {
  color: #fff;
}

/* general */
header {
  background: #23212D;
  height: 60px;
}
.wrapper {
  width: 100%;
  padding: 0 5%;
}